#username {
    border: none;
    margin-top: 120px;
}

.card-header {
    color: white;
    position: sticky;
    top: 0;
    display: none;
}

#main {
    display: none;
}

.card {
    min-height: 500px;
    background-color: #03a1fc;
    width: 25rem;
    margin: auto;
}

#type {
    margin-top: 450px;
}

#users {
    list-style-type: none;
    justify-content: justify;
}

#username {
    margin: 180px 0 160px 0;
}

.messages {
    width: 20rem;
}

.myMessage {
    float: right;
    margin: 0 -30px 30px 200px;
    display: inline;
    border-radius: 5%;
    padding: 0 10px 0 10px;
}

.myMessage span {
    font-weight: 600;
    float: right;
}

.myMessage p {
    float: right;
}

.otherMessage {
    background-color: #a39f9e;
    float: left;
    margin: 0 200px 30px 0;
    display: inline;
    border-radius: 5%;
    padding: 0 10px 0 10px;
}

.otherMessage span {
    font-weight: 600;
    float: left;
}

.myMessage p {
    float: left;
}

.clearfix {
    margin-left: -200px;
    width: 100px;
    margin-right: 50px;
    position: fixed;
    top: 100px;
}